body {
  background-color:#ADD4F0;
}
table, th, td {
  border: 4px solid #0A3757;
}
td {
  text-align: center;
}
th {
  background-color: #4b7b9e;
  color: rgb(125, 203, 206);
}
table {
  border-collapse: collapse;
  border: 3px solid rgb(173, 171, 171);
  margin: 20px auto;
}

p {
  
  color: rgb(146, 31, 31);
  font-size: 30px;
  text-align: center;
  
}

h1 {
  
  color: rgb(216, 216, 216);
  text-align: center;
   font-size: 50px;
   
}


h2 {
  
  color: rgb(238, 238, 238);
  text-align: center;
   font-size: 20px;
   margin-top: 5px;
   
}

a {
  box-shadow: rgb(102, 100, 100);
  bottom: auto;
  color: rgb(119, 119, 119);
}



.button {
  bottom: auto;
  background-color: gray;
  border: rgb(247, 135, 56);
  color: white;
  padding: 11px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}


.button:hover {
  background-color: #cdcfce;
  color: rgb(248, 16, 16);
}

.nav_link {
  background-color:#2E5E53;
    color:  #5FA89D;
}

.space {
  font-size: 1px;

}

.name {
  background-color: #2F526B;
  width: 100%;
  font-size: 50px;
}

.menu {
  background-color:#0A3757;
  width: 15%;
}

.bok {
  background-color: #aad7f7;
  width: 85%;
}

.nav_link {
  color: black;
  background-color: #ADD4F0;
  color:#1887D6;
  border: 4px solid;
  padding: 8px;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 50px;
}

li {
  margin-bottom:8px; 
  margin-top:15px; 
}

.container {
  background-color:  rgb(148, 148, 245);
  display: flex;
  flex-wrap: wrap;
}





.menu1 {
  background-color: rgba(156, 39, 176, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu_item {
  background-color: rgb(235, 179, 179);
  padding: 0.2rem;
  margin: 0 0 1rem 0;
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 1px;
}
.item_link {
  display: block;
  text-decoration: none;
  color: black;
  background-color: rgb(230, 230, 175);
  text-align: center;
  width: 20%;
}

.menu2 {
  color: rgb(191, 223, 145);
  background-color: rgb(166, 117, 190);
  font-size: 3rem;
}

.menu1 {
  background-color: rgba(156, 39, 176, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header {
  background-color: rgb(164, 164, 250);
  padding: 0.2rem;
  list-style: none;
  width: 100%;
  height: 10vh;
}

.sidebar {
  background-color:  rgb(235, 179, 179);
  padding: 0.2rem;
  list-style: none;
  width: 30%;
  height: 20vh;
}

.main1 {
  background-color:  rgb(235, 179, 179);
  padding: 0.2rem;
  list-style: none;
  width: 60%;
}

.footer {
  background-color:  rgb(235, 179, 179);
  padding: 0.2rem;
  list-style: none;
  width: 100%;
  height: 8vh;
}